In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split,GridSearchCV,StratifiedKFold
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.metrics import mean_squared_error

In [3]:
data1=pd.read_csv("delivery_cq.csv")
data2=pd.read_csv("delivery_delivery_jl.csv")
data3=pd.read_csv("delivery_yt.csv")
data4=pd.read_csv("delivery_sh.csv")
data5=pd.read_csv("delivery_hz.csv")

In [5]:
data1

,order_id,region_id,city,courier_id,lng,lat,aoi_id,aoi_type,accept_time,accept_gps_time,accept_gps_lng,accept_gps_lat,delivery_time,delivery_gps_time,delivery_gps_lng,delivery_gps_lat,ds
0,2031782,10,Chongqing,73,108.71571,30.90228,50,14,10-22 10:26:00,10-22 10:26:00,108.71826,30.95587,10-22 17:04:00,10-22 17:04:00,108.66361,30.96702,1022
1,4285071,10,Chongqing,3605,108.71639,30.90269,50,14,09-07 10:13:00,09-07 10:13:00,108.71791,30.95635,09-09 15:44:00,09-09 15:44:00,108.71644,30.90266,907
2,4056800,10,Chongqing,3605,108.71645,30.90259,50,14,06-26 09:49:00,06-26 09:49:00,108.71798,30.95635,06-27 16:03:00,06-27 16:03:00,108.71647,30.90251,626
3,3589481,10,Chongqing,3605,108.71650,30.90347,50,14,09-11 11:01:00,09-11 11:01:00,108.71823,30.95596,09-13 17:14:00,09-13 17:14:00,108.71650,30.90341,911
4,2752329,10,Chongqing,3605,108.71608,30.90409,50,14,10-01 09:52:00,10-01 09:52:00,108.71820,30.95598,10-01 18:30:00,10-01 18:30:00,108.71413,30.90397,1001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
931346,408723,166,Chongqing,4855,106.48823,29.49533,60054,1,10-27 08:36:00,10-27 08:36:00,106.52756,29.49760,10-27 12:30:00,10-27 12:30:00,106.50547,29.49880,1027
931347,3133674,166,Chongqing,4855,106.48839,29.49522,60054,1,10-25 09:24:00,10-25 09:24:00,106.52752,29.49765,10-25 12:53:00,10-25 12:53:00,106.48840,29.49507,1025
931348,4469852,166,Chongqing,4855,106.48822,29.49530,60054,1,10-24 14:11:00,10-24 14:11:00,106.52755,29.49764,10-24 16:39:00,10-24 16:39:00,106.48843,29.49484,1024
931349,2140790,166,Chongqing,4855,106.48822,29.49537,60054,1,10-29 15:24:00,10-29 15:24:00,106.52746,29.49751,10-29 18:08:00,10-29 18:08:00,106.48854,29.49509,1029
931350,3719314,166,Chongqing,4855,106.48826,29.49537,60054,1,10-29 08:45:00,10-29 08:45:00,106.52743,29.49769,10-29 12:51:00,10-29 12:51:00,106.48862,29.49529,1029

In [7]:
data2.columns

Index(['order_id', 'region_id', 'city', 'courier_id', 'lng', 'lat', 'aoi_id',
       'aoi_type', 'accept_time', 'accept_gps_time', 'accept_gps_lng',
       'accept_gps_lat', 'delivery_time', 'delivery_gps_time',
       'delivery_gps_lng', 'delivery_gps_lat', 'ds'],
      dtype='object')

In [9]:
data1.columns

Index(['order_id', 'region_id', 'city', 'courier_id', 'lng', 'lat', 'aoi_id',
       'aoi_type', 'accept_time', 'accept_gps_time', 'accept_gps_lng',
       'accept_gps_lat', 'delivery_time', 'delivery_gps_time',
       'delivery_gps_lng', 'delivery_gps_lat', 'ds'],
      dtype='object')

In [11]:
data3.columns

Index(['order_id', 'region_id', 'city', 'courier_id', 'lng', 'lat', 'aoi_id',
       'aoi_type', 'accept_time', 'accept_gps_time', 'accept_gps_lng',
       'accept_gps_lat', 'delivery_time', 'delivery_gps_time',
       'delivery_gps_lng', 'delivery_gps_lat', 'ds'],
      dtype='object')

In [13]:
data4.columns

Index(['order_id', 'region_id', 'city', 'courier_id', 'lng', 'lat', 'aoi_id',
       'aoi_type', 'accept_time', 'accept_gps_time', 'accept_gps_lng',
       'accept_gps_lat', 'delivery_time', 'delivery_gps_time',
       'delivery_gps_lng', 'delivery_gps_lat', 'ds'],
      dtype='object')

In [15]:
data5.columns

Index(['order_id', 'region_id', 'city', 'courier_id', 'lng', 'lat', 'aoi_id',
       'aoi_type', 'accept_time', 'accept_gps_time', 'accept_gps_lng',
       'accept_gps_lat', 'delivery_time', 'delivery_gps_time',
       'delivery_gps_lng', 'delivery_gps_lat', 'ds'],
      dtype='object')

In [17]:
merged_data=pd.concat([data1,data2,data3,data4,data5], ignore_index=True)

In [18]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4514661 entries, 0 to 4514660
Data columns (total 17 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   region_id          int64
 2   city               object
 3   courier_id         int64
 4   lng                float64
 5   lat                float64
 6   aoi_id             int64
 7   aoi_type           int64
 8   accept_time        object
 9   accept_gps_time    object
 10  accept_gps_lng     float64
 11  accept_gps_lat     float64
 12  delivery_time      object
 13  delivery_gps_time  object
 14  delivery_gps_lng   float64
 15  delivery_gps_lat   float64
 16  ds                 int64
dtypes: float64(6), int64(6), object(5)
memory usage: 585.6+ MB

In [19]:
merged_data['city'].value_counts()

city
Hangzhou     1861600
Shanghai     1483864
Chongqing     931351
Yantai        206431
Jilin          31415
Name: count, dtype: int64

In [20]:
merged_data.to_csv('merged_city_data.csv',index=False)

In [21]:
merged_data=merged_data.drop_duplicates()

In [22]:
merged_data['city'].value_counts()

city
Hangzhou     1861600
Shanghai     1483864
Chongqing     931351
Yantai        206431
Jilin          31415
Name: count, dtype: int64

In [23]:
merged_data.isna().sum()

order_id                0
region_id               0
city                    0
courier_id              0
lng                     0
lat                     0
aoi_id                  0
aoi_type                0
accept_time             0
accept_gps_time         0
accept_gps_lng       3377
accept_gps_lat       3377
delivery_time           0
delivery_gps_time       0
delivery_gps_lng        0
delivery_gps_lat        0
ds                      0
dtype: int64

In [24]:
merged_data.describe()

,order_id,region_id,courier_id,lng,lat,aoi_id,aoi_type,accept_gps_lng,accept_gps_lat,delivery_gps_lng,delivery_gps_lat,ds
count,4.514661e+06,4.514661e+06,4.514661e+06,4.514661e+06,4.514661e+06,4.514661e+06,4.514661e+06,4.511284e+06,4.511284e+06,4.514661e+06,4.514661e+06,4.514661e+06
mean,2.257330e+06,7.381683e+01,2.385268e+03,1.178683e+02,3.084852e+01,2.998049e+04,4.355784e+00,1.178629e+02,3.083946e+01,1.178634e+02,3.084735e+01,8.112479e+02
std,1.303271e+06,4.538614e+01,1.390526e+03,5.822634e+00,1.928226e+00,1.729042e+04,5.527705e+00,5.853219e+00,1.916018e+00,5.867664e+00,1.937424e+00,1.653643e+02
min,0.000000e+00,0.000000e+00,0.000000e+00,1.020849e+02,2.311348e+01,0.000000e+00,0.000000e+00,-9.000000e-05,-9.000000e-05,-9.000000e-05,-9.000000e-05,5.010000e+02
25%,1.128665e+06,3.600000e+01,1.206000e+03,1.199666e+02,3.012185e+01,1.487400e+04,1.000000e+00,1.199621e+02,3.010518e+01,1.199666e+02,3.012170e+01,7.030000e+02
50%,2.257330e+06,7.100000e+01,2.345000e+03,1.202321e+02,3.030657e+01,3.005500e+04,1.000000e+00,1.202476e+02,3.031297e+01,1.202317e+02,3.030687e+01,8.200000e+02
75%,3.385995e+06,1.110000e+02,3.588000e+03,1.214099e+02,3.118919e+01,4.446400e+04,8.000000e+00,1.214002e+02,3.118778e+01,1.214098e+02,3.118906e+01,9.290000e+02
max,4.514660e+06,1.670000e+02,4.876000e+03,1.268191e+02,4.422335e+01,6.014900e+04,1.500000e+01,1.266288e+02,4.394521e+01,1.397561e+02,4.576194e+01,1.031000e+03

In [25]:
merged_data.city.unique()

array(['Chongqing', 'Jilin', 'Yantai', 'Shanghai', 'Hangzhou'],
      dtype=object)

In [26]:
#merged_data.isnull().sum()

In [27]:
merged_data.shape

(4514661, 17)

In [28]:
merged_data=merged_data.dropna(subset=['accept_gps_lng','accept_gps_lat'])

In [29]:
merged_data.isnull().sum()

order_id             0
region_id            0
city                 0
courier_id           0
lng                  0
lat                  0
aoi_id               0
aoi_type             0
accept_time          0
accept_gps_time      0
accept_gps_lng       0
accept_gps_lat       0
delivery_time        0
delivery_gps_time    0
delivery_gps_lng     0
delivery_gps_lat     0
ds                   0
dtype: int64

In [30]:
merged_data=merged_data.drop_duplicates(subset='order_id',keep='first')

In [31]:
merged_data.shape

(4511284, 17)

In [71]:
#current_year=pd.Timestamp.now().year

In [78]:
merged_data=merged_data.drop(['accept_gps_time','delivery_gps_time'],axis=1)

In [33]:
merged_data

,order_id,region_id,city,courier_id,lng,lat,aoi_id,aoi_type,accept_time,accept_gps_time,accept_gps_lng,accept_gps_lat,delivery_time,delivery_gps_time,delivery_gps_lng,delivery_gps_lat,ds
0,2031782,10,Chongqing,73,108.71571,30.90228,50,14,10-22 10:26:00,10-22 10:26:00,108.71826,30.95587,10-22 17:04:00,10-22 17:04:00,108.66361,30.96702,1022
1,4285071,10,Chongqing,3605,108.71639,30.90269,50,14,09-07 10:13:00,09-07 10:13:00,108.71791,30.95635,09-09 15:44:00,09-09 15:44:00,108.71644,30.90266,907
2,4056800,10,Chongqing,3605,108.71645,30.90259,50,14,06-26 09:49:00,06-26 09:49:00,108.71798,30.95635,06-27 16:03:00,06-27 16:03:00,108.71647,30.90251,626
3,3589481,10,Chongqing,3605,108.71650,30.90347,50,14,09-11 11:01:00,09-11 11:01:00,108.71823,30.95596,09-13 17:14:00,09-13 17:14:00,108.71650,30.90341,911
4,2752329,10,Chongqing,3605,108.71608,30.90409,50,14,10-01 09:52:00,10-01 09:52:00,108.71820,30.95598,10-01 18:30:00,10-01 18:30:00,108.71413,30.90397,1001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4514656,187921,126,Hangzhou,3873,120.15943,30.30203,60008,1,07-12 08:48:00,07-12 08:48:00,120.13950,30.32872,07-12 11:08:00,07-12 11:08:00,120.15906,30.30173,712
4514657,1165758,126,Hangzhou,3873,120.15960,30.30183,60008,1,07-14 16:03:00,07-14 16:03:00,120.13954,30.32870,07-14 18:10:00,07-14 18:10:00,120.15940,30.30196,714
4514658,3820961,126,Hangzhou,3873,120.15906,30.30269,60008,1,07-13 09:07:00,07-13 09:07:00,120.13946,30.32870,07-13 12:28:00,07-13 12:28:00,120.15906,30.30248,713
4514659,2446906,126,Hangzhou,3873,120.15918,30.30221,60008,1,07-14 16:04:00,07-14 16:04:00,120.13955,30.32868,07-14 18:03:00,07-14 18:03:00,120.15902,30.30242,714
4514660,1930012,126,Hangzhou,3873,120.15927,30.30276,60008,1,07-11 09:42:00,07-11 09:42:00,120.13956,30.32874,07-11 12:47:00,07-11 12:47:00,120.15924,30.30282,711

In [54]:
merged_data['accept_time']=pd.to_datetime(merged_data['accept_time'],format="%m-%d  %H:%M:%S",errors='coerce')
merged_data['delivery_time']=pd.to_datetime(merged_data['delivery_time'],format="%m-%d  %H:%M:%S",errors='coerce')

In [56]:
merged_data

,order_id,region_id,city,courier_id,lng,lat,aoi_id,aoi_type,accept_time,accept_gps_time,accept_gps_lng,accept_gps_lat,delivery_time,delivery_gps_time,delivery_gps_lng,delivery_gps_lat,ds
0,2031782,10,Chongqing,73,108.71571,30.90228,50,14,1900-10-22 10:26:00,10-22 10:26:00,108.71826,30.95587,1900-10-22 17:04:00,10-22 17:04:00,108.66361,30.96702,1022
1,4285071,10,Chongqing,3605,108.71639,30.90269,50,14,1900-09-07 10:13:00,09-07 10:13:00,108.71791,30.95635,1900-09-09 15:44:00,09-09 15:44:00,108.71644,30.90266,907
2,4056800,10,Chongqing,3605,108.71645,30.90259,50,14,1900-06-26 09:49:00,06-26 09:49:00,108.71798,30.95635,1900-06-27 16:03:00,06-27 16:03:00,108.71647,30.90251,626
3,3589481,10,Chongqing,3605,108.71650,30.90347,50,14,1900-09-11 11:01:00,09-11 11:01:00,108.71823,30.95596,1900-09-13 17:14:00,09-13 17:14:00,108.71650,30.90341,911
4,2752329,10,Chongqing,3605,108.71608,30.90409,50,14,1900-10-01 09:52:00,10-01 09:52:00,108.71820,30.95598,1900-10-01 18:30:00,10-01 18:30:00,108.71413,30.90397,1001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4514656,187921,126,Hangzhou,3873,120.15943,30.30203,60008,1,1900-07-12 08:48:00,07-12 08:48:00,120.13950,30.32872,1900-07-12 11:08:00,07-12 11:08:00,120.15906,30.30173,712
4514657,1165758,126,Hangzhou,3873,120.15960,30.30183,60008,1,1900-07-14 16:03:00,07-14 16:03:00,120.13954,30.32870,1900-07-14 18:10:00,07-14 18:10:00,120.15940,30.30196,714
4514658,3820961,126,Hangzhou,3873,120.15906,30.30269,60008,1,1900-07-13 09:07:00,07-13 09:07:00,120.13946,30.32870,1900-07-13 12:28:00,07-13 12:28:00,120.15906,30.30248,713
4514659,2446906,126,Hangzhou,3873,120.15918,30.30221,60008,1,1900-07-14 16:04:00,07-14 16:04:00,120.13955,30.32868,1900-07-14 18:03:00,07-14 18:03:00,120.15902,30.30242,714
4514660,1930012,126,Hangzhou,3873,120.15927,30.30276,60008,1,1900-07-11 09:42:00,07-11 09:42:00,120.13956,30.32874,1900-07-11 12:47:00,07-11 12:47:00,120.15924,30.30282,711

In [60]:
merged_data[['lng', 'lat']] = merged_data[['lng', 'lat']].astype(float)

In [62]:
merged_data['aoi_type'] = merged_data['aoi_type'].astype('category')

In [64]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4511284 entries, 0 to 4514660
Data columns (total 17 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   region_id          int64
 2   city               object
 3   courier_id         int64
 4   lng                float64
 5   lat                float64
 6   aoi_id             int64
 7   aoi_type           category
 8   accept_time        datetime64[ns]
 9   accept_gps_time    object
 10  accept_gps_lng     float64
 11  accept_gps_lat     float64
 12  delivery_time      datetime64[ns]
 13  delivery_gps_time  object
 14  delivery_gps_lng   float64
 15  delivery_gps_lat   float64
 16  ds                 int64
dtypes: category(1), datetime64[ns](2), float64(6), int64(5), object(3)
memory usage: 589.4+ MB

In [66]:
diffrent_lng= (merged_data['lat'].between(-90, 90)) & (merged_data['lng'].between(-180, 180))
merged_data = merged_data[diffrent_lng]

In [68]:
merged_data['delivery_duration'] = (merged_data['delivery_time'] - merged_data['accept_time']).dt.total_seconds() / 60

In [70]:
from scipy.stats import zscore

In [72]:
z_scores = zscore(merged_data['delivery_duration'])
merged_data= merged_data[(z_scores > -3) & (z_scores < 3)]

In [74]:
z_scores

0          0.272073
1          3.877088
2          2.086755
3          3.930914
4          0.425859
             ...
4514656   -0.058569
4514657   -0.075229
4514658    0.019606
4514659   -0.085481
4514660   -0.000899
Name: delivery_duration, Length: 4511284, dtype: float64

In [76]:
colums= ['lng', 'lat', 'delivery_duration']
scaler = StandardScaler()
merged_data[colums] = scaler.fit_transform(merged_data[colums])

In [80]:
merged_data

,order_id,region_id,city,courier_id,lng,lat,aoi_id,aoi_type,accept_time,accept_gps_lng,accept_gps_lat,delivery_time,delivery_gps_lng,delivery_gps_lat,ds,delivery_duration
0,2031782,10,Chongqing,73,-1.583439,0.029385,50,14,1900-10-22 10:26:00,108.71826,30.95587,1900-10-22 17:04:00,108.66361,30.96702,1022,1.232090
2,4056800,10,Chongqing,3605,-1.583311,0.029547,50,14,1900-06-26 09:49:00,108.71798,30.95635,1900-06-27 16:03:00,108.71647,30.90251,626,8.498987
4,2752329,10,Chongqing,3605,-1.583375,0.030329,50,14,1900-10-01 09:52:00,108.71820,30.95598,1900-10-01 18:30:00,108.71413,30.90397,1001,1.847929
6,4481765,10,Chongqing,3605,-1.583380,0.030335,50,14,1900-09-30 10:00:00,108.71824,30.95583,1900-09-30 16:38:00,108.71429,30.90416,930,1.232090
7,2365752,10,Chongqing,3605,-1.583332,0.029583,50,14,1900-09-30 10:00:00,108.71826,30.95585,1900-09-30 18:38:00,108.71425,30.90416,930,1.847929
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4514656,187921,126,Hangzhou,3873,0.389797,-0.283909,60008,1,1900-07-12 08:48:00,120.13950,30.32872,1900-07-12 11:08:00,120.15906,30.30173,712,-0.091963
4514657,1165758,126,Hangzhou,3873,0.389826,-0.284013,60008,1,1900-07-14 16:03:00,120.13954,30.32870,1900-07-14 18:10:00,120.15940,30.30196,714,-0.158679
4514658,3820961,126,Hangzhou,3873,0.389733,-0.283564,60008,1,1900-07-13 09:07:00,120.13946,30.32870,1900-07-13 12:28:00,120.15906,30.30248,713,0.221089
4514659,2446906,126,Hangzhou,3873,0.389754,-0.283815,60008,1,1900-07-14 16:04:00,120.13955,30.32868,1900-07-14 18:03:00,120.15902,30.30242,714,-0.199734
4514660,1930012,126,Hangzhou,3873,0.389769,-0.283528,60008,1,1900-07-11 09:42:00,120.13956,30.32874,1900-07-11 12:47:00,120.15924,30.30282,711,0.138977

In [82]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4489561 entries, 0 to 4514660
Data columns (total 16 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   region_id          int64
 2   city               object
 3   courier_id         int64
 4   lng                float64
 5   lat                float64
 6   aoi_id             int64
 7   aoi_type           category
 8   accept_time        datetime64[ns]
 9   accept_gps_lng     float64
 10  accept_gps_lat     float64
 11  delivery_time      datetime64[ns]
 12  delivery_gps_lng   float64
 13  delivery_gps_lat   float64
 14  ds                 int64
 15  delivery_duration  float64
dtypes: category(1), datetime64[ns](2), float64(7), int64(5), object(1)
memory usage: 552.3+ MB

In [84]:
merged_data.isna().sum()

order_id             0
region_id            0
city                 0
courier_id           0
lng                  0
lat                  0
aoi_id               0
aoi_type             0
accept_time          0
accept_gps_lng       0
accept_gps_lat       0
delivery_time        0
delivery_gps_lng     0
delivery_gps_lat     0
ds                   0
delivery_duration    0
dtype: int64

In [86]:
merged_data.to_csv('preprocessed_merged_data.csv', index=False)